:root {
    --bs-body-font-family: 'Montserrat', sans-serif !important;
}

.navbar-nav {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.06em;
}

.dropdown-menu {
    background-color: tomato !important;
    border-radius: 0 !important;
}

.dropdown-item {
    color: white !important;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.06em;
}

.dropdown-item:hover {
    background-color: #d13018 !important;
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    background-color: tomato;
    width: 0%;
    content: "";
    height: 4px;
}

.navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
}

.p-comment {
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 15px;
}

.imgcup {
    width: 59px !important;
    height: 58px !important;
}

.tariff-btn {
    text-decoration-color: white !important;
}

.video-wrapper {
    position: relative;
    overflow: hidden;
}

.video-wrapper video {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
}

.video-wrapper .container {
    z-index: 2;
    position: relative;
}

.p-f-description {
    font-size: 14px;
    line-height: 22px;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1 !important; /* Firefox */
}

.p-checkbox {
    font-size: 12px;
    line-height: 14px;
}

.page-num {
    font-size: 28px;
    line-height: 28px;
}

.page-com1 {
    font-size: 24px;
    line-height: 29px;
}

.carousel-control-next {
    right: 36px !important;
}

.carousel-control-prev {
    left: 968px !important;
}