@import "./abstracts/variables";

$custom-colors: (
  "tomato": tomato
);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null);

@import "~bootstrap/scss/bootstrap";